= javascript_include_tag 'https://js.stripe.com/v2/'
= tag :meta, :name => "stripe-key", :content => @public_key
= javascript_include_tag 'catarse_paypal_express'

h3= t('projects.backers.review.international.section_title')

#catarse_paypal_express_form
  = form_tag payment_pay_paypal_express_path(params[:id]), :id => 'new_card_form' do
    = hidden_field_tag 'last_payment_id', @last_payment_id
    .clearfix
    .bootstrap-twitter
      .div
        .owner_outside
          .owner
            ol.inputs
              - if @last_payment_id.present?
                li.use_last_card
                  = radio_button_tag :credit_card_old_new, 'old', true
                  = label_tag :use_last_card, t('projects.backers.review.use_old_card')
              li.last_card
                = label_tag :last_card, t('projects.backers.review.old_card', card_type: @last_cc['type'], last4: @last_cc['last4'])
              - if @last_payment_id.present?
                li.use_new_card
                  = radio_button_tag :credit_card_old_new, 'new'
                  = label_tag :use_new_card, t('projects.backers.review.use_new_card')
              li.card_number
                = label_tag :credit_card_number, "Card Number", class: 'grey'
                = text_field_tag :credit_card_number, nil, :'data-stripe' => 'number', size: 20, disabled: true
              li.cvc
                = label_tag :credit_card_cvc, "CVC", class: 'grey'
                = text_field_tag :credit_card_cvc, nil, :'data-stripe' => 'cvc', size: 4, disabled: true
              li.exp
                = label_tag :credit_card_expiration, "Expiration Date (MM/YYYY)", class: 'grey'
                = select_month nil, {:use_two_digit_numbers => true}, {id: 'exp_month', :'data-stripe' => 'exp-month', disabled: true}
                span= '/'
                = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {id: 'exp_year', :'data-stripe' => 'exp-year', disabled: true}

  			  = submit_tag t('projects.backers.review.international.button'), :class => 'btn btn-primary btn-large'
          .div#stripe_error
